{% extends "layout.html" %}

{% block title %}
   sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                {% for sym in symbol %}
                <option>{{sym.symbol}}</option>
                
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
{% endblock %}
